<form action="/pets/createForm" method="post">

    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre">
    <label for="raza">Raza</label>
    <input id="raza" type="text" name="raza">

    <button type="submit">Create</button>
    <button type="reset">Reset</button>

</form>